:{$PORT:80} {
    root * /app/public
    encode zstd gzip

    route {
        @api path /api /api/*
        handle @api {
            php_server
        }

        handle {
            try_files {path} /index.html
            file_server
        }
    }
}
